 body {
        background-color: rgb(246, 247, 241);
        margin: 100px;
        font-family: 'Times New Roman', Times, serif;
        color: #333;
    }
    .profile-container {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #5b5132;
    }
    .profile-info {
        line-height: 1.5;
    }
    .imps {
        color: rgb(103, 90, 68);
    }
    h2, h3, h4 {
        margin: 10px 0;
    }
    ul, ol {
        margin-left: 20px;
    }
    ul { list-style-type: circle; }
    ol { list-style-type: decimal; }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td { padding: 5px; text-align: left; }
    hr {
        border: 0;
        height: 1px;
        background-color: rgb(103, 90, 68);
        margin: 15px 0;
    }
    a {
        text-decoration: none;
    }
    a:link { color: rgb(56, 54, 44); }
    a:visited { color: rgb(0, 0, 0); }
    a:hover { color: rgb(165, 154, 114); }
    a:active { color: rgb(79, 73, 57); }
    .links {
        margin-bottom: 20px;
    }
    .links a {
        margin-right: 15px;
    }